body {
  margin: 0; padding: 0;
  font-family: 'Montserrat', sans-serif;
}

$break-small: 500px;
$break-large: 1200px;

#app {
  text-align: center;
  padding-top: 50px;

  header {
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding-top: 8px;
    overflow: hidden;
    z-index: 1;
    line-height: 3em;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #1E1E1F;
    cursor: default;
    @media screen and (max-width: $break-small) {
      background-color: black;
      color: #EBEDF0;
    }

    .trigger {
      font-size: 18px;
    }

    nav {
      display: none;
      a {
        color: #1E1E1F;
        text-decoration: none;
        font-weight: 400;
        margin: 0 30px;
        @media screen and (max-width: $break-small) {
          margin: 0 15px;
          color: #DEE0E3;
        }

        &:hover {
          color: #34495e;
          border-bottom: 2px solid #34495e;
          @media screen and (max-width: $break-small) {
            color: #95a5a6;
            border-bottom: 2px solid #95a5a6;
          }
        }
      }
    }

    &.shown {
      .trigger {
        display: none;
      }
      nav {
        display: block;
      }
    }
  }

  .puzzle {
    display: inline-block;
    border: 2px solid black;
    @media screen and (max-width: $break-small) {
      margin-top: 15px;
    }

    .row {
      white-space: nowrap;
      font-size: 0;
    }
    .box {
      display: inline-block;
      border: 1px solid black;
    }
    .cell {
      display: inline-block;
      width: 50px; height: 50px;
      overflow: hidden;
      position: relative;
      border: 1px solid black;
      @media screen and (max-width: $break-small) {
        width: 30px; height: 30px;
      }

      input {
        border: none;
        margin: 0; padding: 0;
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        font-size: 28px;
        text-align: center;
        background: #ffffff;
        color: #000000;
        @media screen and (max-width: $break-small) {
          font-size: 18px;
        }

        &:focus {
          background: #bdc3c7;;
        }

        &.given {
          font-size: 30px;
          font-weight: 700;

          @media screen and (max-width: $break-small) {
            font-size: 18px;
          }
        }
      }
    }
  }

}


